@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;
@inject UserManager<Users> userManager;
@{
    var admin = false;
    if (signInManager.IsSignedIn(User))
    {
        var user = await userManager.GetUserAsync(User);
        admin = await userManager.IsInRoleAsync(user, "Admin");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forums</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/Forums.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Forums</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Forums
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Forums" asp-action="Index">All Forum</a>
                                    </li>
                                    @if (admin)
                                    {
                                        <li class="dropdown-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Forums" asp-action="NewForum">New Forum</a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manager
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Adminstration" asp-action="CreateRole">Create Role</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Create User</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">
                                    @User.Identity?.Name
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">
                                    Sign out

                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">
                                    Sign In
                                    @User.Identity?.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="m-2 p-2 border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Forums - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function padTo2Digits(num) {
            return num.toString().padStart(2, '0');
        }
        
        function formatDate(date) {
            var newDate = new Date(date);
            var fullDate = [
                newDate.getFullYear(),
                padTo2Digits(newDate.getMonth() + 1),
                padTo2Digits(newDate.getDate()),
            ].join('/') +
                ' ' +
                [
                    padTo2Digits(newDate.getHours() % 12 || 12),
                    padTo2Digits(newDate.getMinutes()),
                    padTo2Digits(newDate.getSeconds()),
                ].join(':');
            if (newDate.getHours() > 12) {

                fullDate += ' ' + 'PM'
            }
            else {
                fullDate += ' ' + 'AM'
            }
            return fullDate;
        }
    </script>
</body>
</html>
